h1,
h2,
h3 {
  text-align: center;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.info {
  text-align: justify;
  margin: 20px 10% 0px 10%;
  padding-bottom: 40px;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
}

.header {
  background-color: #4e6d8d;
  width: 100%;
  color: white;
}

.testimonials {
  margin-bottom: 40px;
}

.contact-information-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
