<div class="header">
  <h1>QUALITY PLASTICS LIMITED</h1>
  <h3>PROVIDING BESPOKE & INNOVATIVE SOLUTIONS</h3>

  <div class="info">
    Quality Plastics Limited have been providing specialist fabrication work and
    expert ducting installations for over 25 years. The company prides
    themselves in providing professional plastic welding services, and
    tailor-made solutions to galvanised and stainless steel ducting projects.
    With a successful partnership, with some of the industries leading
    companies, Quality Plastics Limited are proud to represent projects at the
    cutting edge of technology.
  </div>
</div>

<!-- <div class="hr"></div> -->

<div class="testimonials">
  <h2>TESTIMONIALS</h2>
  <div class="wrap">
    <qpl-testimonial
      company="Opti-Pharma Uk Ltd"
      quote="'I would have no hesitation in recommending Quality Plastics Ltd to any potential project.'"
      quotee="Keith O'Brien"
      quoteeTitle="Managing Director"
    ></qpl-testimonial>
    <qpl-testimonial
      company="Mansfield Pollard"
      quote="'...it was an effortless process in dealing with Peter from start to finish and I would recommend Quality Plastics Ltd for their professionalism in approach and workmanship.'"
      quotee="Michael Lee"
      quoteeTitle="Technical Design Engineer"
    ></qpl-testimonial>
  </div>
</div>

<div class="hr"></div>

<div>
  <h2>OUR SERVICES</h2>
  <div class="wrap">
    <qpl-services service="Plastic Fabrication"></qpl-services>
    <qpl-services service="Bespoke Duct Work"></qpl-services>
    <qpl-services service="Laboratory Installations"></qpl-services>
  </div>
</div>

<div class="hr"></div>

<div class="contact-information">
  <h2>CONTACT US</h2>
  <div class="contact-information-body">
    <qpl-map></qpl-map>
    <qpl-contact></qpl-contact>
  </div>
</div>

<qpl-footer></qpl-footer>
