.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 280px;
  height: 100%;
  margin-left: 10px;
  padding: 15px 15px;
  border: 1px solid #bdcbd6;
  border-radius: 10%;
  background-color: #bbcad8;

  .company {
    font-weight: bold;
    text-align: left;
  }

  .quote {
    text-align: justify;
    margin-top: 15px !important;
  }

  .quotee {
    text-align: right;
  }
}
