.card {
  width: 280px;
  height: 100%;
  display: inline-block;
  text-align: center;
  margin: 10px 15px 20px;
}

.quote {
  text-align: justify;
  margin-top: 15px !important;
}

.quotee {
  text-align: justify;
  text-align: right;
  margin-top: 15px;
}
