@import './../../../../../../scss/styles-variables.scss';

:host {
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.gmap {
  background: none !important;
  @media (min-width: map-get($grid-breakpoints, xs)) {
    width: 300px;
    height: 200px;
  }
  @media (min-width: map-get($grid-breakpoints, sm)) {
    width: 540px;
    height: 500px;
  }
  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 600px;
    height: 500px;
  }
}
